@model Survey.ViewModels.SurveyViewModel
@{
    ViewData["Title"] = "Fill Out Survey";
}
<h2>_Surveys</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <fieldset>
        <legend>What is your favourite food?</legend>
        <div class="form-check">
            <input asp-for="LikesPizza" class="form-check-input" />
            <label asp-for="LikesPizza" class="form-check-label">Pizza</label>
        </div>
        <div class="form-check">
            <input asp-for="LikesPasta" class="form-check-input" />
            <label asp-for="LikesPasta" class="form-check-label">Pasta</label>
        </div>
        <div class="form-check">
            <input asp-for="LikesPapAndWors" class="form-check-input" />
            <label asp-for="LikesPapAndWors" class="form-check-label">Pap and Wors</label>
        </div>
        <div class="form-check">
            <input asp-for="LikesOther" class="form-check-input" />
            <label asp-for="LikesOther" class="form-check-label">Other</label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Please rate your level of agreement on a scale from 1 to 5, with 1 being 'Strongly Agree' and 5 being 'Strongly disagree'.</legend>
        @for (int i = 1; i <= 5; i++)
        {
            <div class="form-group">
                <label>I like to watch movies</label>
                <input type="radio" name="WatchMoviesRating" value="@i" /> @i
            </div>
        }
        @for (int i = 1; i <= 5; i++)
        {
            <div class="form-group">
                <label>I like to listen to radio</label>
                <input type="radio" name="ListenToRadioRating" value="@i" /> @i
            </div>
        }
        @for (int i = 1; i <= 5; i++)
        {
            <div class="form-group">
                <label>I like to eat out</label>
                <input type="radio" name="EatOutRating" value="@i" /> @i
            </div>
        }
        @for (int i = 1; i <= 5; i++)
        {
            <div class="form-group">
                <label>I like to watch TV</label>
                <input type="radio" name="WatchTVRating" value="@i" /> @i
            </div>
        }
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}